.oferta-clases {
	background-color: ##ECECEC;
}

.imagen {
	height: 420px;
	width: 25%;
	background-position:top;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 15%;
	margin:3%;
	float: left;
}

.ballet {
	background-image: url(../img/dance_12.jpg);
	margin-left: 7%;
}

.modern {
	background-image: url(../img/breakdance.jpg);
}

.jazz {
	background-image: url(../img/lirical-jazz.jpg);
}

.arabic {
	background-image: url(../img/arabe.jpg);
	margin-left: 7%;
	
}

.kid {
	background-image: url(../img/little.jpg);
}

.yoga {
	background-image: url(../img/yoga.jpg);
}

.cuadro1 { 
 	position:relative;
 	background-color: rgb(2,2,2);
 	opacity: 0.5;
 	bottom: 20%;
 	left: 2%;
 	width: 300px;
 	height: 150px;
}

.cuadro2 { 
 	position: relative;
 	background-color: rgb(2,2,2);
 	opacity: 0.5;
 	bottom: 20%;
 	left: 7%;
 	width: 300px;
 	height: 150px;
}

h4 {
	font-weight: bolder;
	padding-top: 10%;
}

.texto-oferta {
	padding: 6%;
}